
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  background-color: black;
}
.pageTitle {
  color: white;
}
.auther-option {
  a, button {
    color: green;
  }
}

//Post Page Style
.post-card{
  height: 80px; 
}
.post-auth {
  float: right;
}
.auther-option {
  float: right;
}
.contntsLabel {
  font-size: 20px;
}
.edit-card-body {
  background-color: white;
}

//User List style
.list_avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: auto;
}

// Profile Page style
.avatar_photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: auto;
}
.abatarBtn {
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
}
.profile-left {
  text-align: center;
  align-items: center;
  margin-right: 0px;
}
.profile-right {
  margin-left: 0px;
  padding-right: 0px; 
  a {
    float: right;
    margin-right: 50px;
  }
}
.profile-edit-left {
  align-items: center;
  text-align:　center;
}
.btn-update-profile {
  float: right;
  margin-right: 40px;
}

// Dashboard Style
.dash-card {
  h1{
    color: red;
    text-align: center;
  }
  .creat-btn {
    margin-right: 30px;
    color: red !important;
  }
  .edit-icon {
    color: red;
  }
}
.dash-list {
  ul {
    margin: auto;
    width: 97%;
  }
  li {
    button{
      color: red;
    }
  }
  .dash-title {
    font-size: 18px;
    color: #330066;
  }
}
//Email
.email-form{
  padding-left: 50px;
  padding-right: 50px;
  
  textarea {
    height: 200px;
  }
}

// Navbar Style
.mynav {
  position: relative;

  .navbar-brand {
    font-style: italic;
    font-size: 35px;
    margin-left: 20px;
    margin-right: 30px;
  }
  .navbar {
    // height: 120px !important;
    position: absolute;
    width: 100%;

    a { 
      color: white;
    }
    .navbar-collapse {
      height: 80px;
    }
    .nav-link { 
      font-size: 22px; 
    }
    .nav-right{
      max-width: 500px;
    }
    .dropdown-menu {
      width: 300px !important;
      background-color: #FF0000; 
    }
    .dropdown-item {
      font-size: 18px;
    }
    .dropdown-item:hover, .dropdown-item:active {
      background-color: #800000;
    }

  }
}
.nav-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
